<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-us">
					<h1>
						We are best of the best!						
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt adipisci, voluptatum et sapiente, accusamus excepturi, harum quos voluptatem praesentium accusantium necessitatibus impedit recusandae voluptatibus exercitationem optio obcaecati enim quas hic consectetur. Porro quaerat nostrum maiores, aliquid reprehenderit unde iste eligendi, facilis asperiores iure adipisci voluptate voluptatem autem delectus aperiam. Obcaecati magnam assumenda temporibus. Soluta amet suscipit magni sed odit animi molestias qui ipsum quae porro sint quidem voluptate eaque ab deserunt modi libero, temporibus odio ullam maiores dolores cumque sunt explicabo. Similique dolores minima perferendis saepe quisquam itaque, animi voluptatem? Fuga illo adipisci non esse, accusantium quia veritatis, doloremque dolore.
					</p>
				</div>
			</div>
			<div class="col-lg-6">
				<%= image_tag '03.jpg' %>
			</div>
		</div>
	</div>
</div>