<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="trigger">
				<h1>
					Свяжитесь с нами для дальнейшего сотрудничества
				</h1>
				<hr>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="contacts-info">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, totam tempora esse accusamus porro
					voluptate?
				</p>
				<p>
					Nobis quibusdam, dolor voluptatem necessitatibus et accusamus magni magnam modi explicabo, voluptatibus numquam
					labore deserunt iusto autem placeat voluptates quidem quam nostrum laborum impedit reiciendis! Id cupiditate
					eveniet quasi voluptas incidunt dicta tempore omnis sint ipsum aliquid obcaecati aspernatur dolores, nemo, amet,
					laborum sit odit!
				</p>
				<p>
					Quam sunt, animi! Maxime cum necessitatibus magni suscipit, delectus, nesciunt quidem quam illum voluptatem quia
					vitae qui unde iusto itaque tempore, officiis, aut rerum! Non qui, sapiente est exercitationem amet corporis quod,
					voluptatibus provident aut consectetur quaerat sint quasi facere veniam ex tempora minima nulla perspiciatis
					quibusdam enim minus odit pariatur porro. Dolores voluptate, alias!
				</p>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="contacts-form">
				<form>
					<ul>
						<li>
							<input type="text" placeholder="Ваше имя" id="name">
						</li>
						<li>
							<input type="text" placeholder="Ваша фамилия" id="name">
						</li>
						<li>
							<input type="text" placeholder="Номер телефона" id="name">
						</li>
						<li>
							<input type="text" placeholder="Ваш Email" id="name">
						</li>
						<li>
							<textarea>Ваш комментарий</textarea>
						</li>
					</ul>
					<button class="btn btn-info">Отправить форму</button>
				</form>
			</div>
		</div>
	</div>
</div>