<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="trigger">
				<h1>
					Свяжитесь с нами для дальнейшего сотрудничества
				</h1>
				<hr>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="contacts-info">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, totam tempora esse accusamus porro voluptate? Nobis quibusdam, dolor voluptatem necessitatibus et accusamus magni magnam modi explicabo, voluptatibus numquam labore deserunt iusto autem placeat voluptates quidem quam nostrum laborum impedit reiciendis! Id cupiditate eveniet quasi voluptas incidunt dicta tempore omnis sint ipsum aliquid obcaecati aspernatur dolores, nemo, amet, laborum sit odit! Quam sunt, animi! Maxime cum necessitatibus magni suscipit, delectus, nesciunt quidem quam illum voluptatem quia vitae qui unde iusto itaque tempore, officiis, aut rerum! Non qui, sapiente est exercitationem amet corporis quod, voluptatibus provident aut consectetur quaerat sint quasi facere veniam ex tempora minima nulla perspiciatis quibusdam enim minus odit pariatur porro. Dolores voluptate, alias! Nisi quidem recusandae molestiae ratione dicta architecto nulla beatae ea ad? Quia fugit ipsa ipsum nam earum eligendi aut ratione tempora, quas harum ipsam adipisci temporibus sint officia cupiditate esse, unde, delectus sed. Reprehenderit accusantium obcaecati maxime perspiciatis, dolorum eligendi cupiditate optio necessitatibus harum labore eius, velit culpa inventore at aspernatur ea quasi dicta magnam, impedit ad deleniti quibusdam! Quo tempora ratione quis non quidem, molestiae modi perspiciatis sed veritatis esse laborum deleniti repellendus ducimus, officia voluptatibus minima soluta. Consequuntur, nobis, cupiditate. Aut, culpa, vitae!
			</div>
		</div>
		<div class="col-lg-6">
			<div class="contacts-form">
				<form>
					<ul>
						<li>
							<input type="text" placeholder="Ваше имя" id="name" >
						</li>
						<li>
							<input type="text" placeholder="Ваше имя" id="name" >
						</li>
						<li>
							<input type="text" placeholder="Ваше имя" id="name" >
						</li>
						<li>
							<input type="text" placeholder="Ваше имя" id="name" >
						</li>
					</ul>
					<button class="btn btn-info" >Отправить форму</button>
				</form>
			</div>
		</div>
	</div>
</div>