<div class="trigger">
	<h1>Готовы сотрудничать?</h1>
	<hr>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="cooperation">
				<%= image_tag '01.jpg' %>
				<p>
					<%= link_to 'Франчайзинг', '#' %>
				</p>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="cooperation">
				<%= image_tag '01.jpg' %>
				<p>
					<%= link_to 'Агентствам', '#' %>
				</p>
			</div>
		</div>
	</div>
</div>