header {
  padding: 25px 0;
  background: rgba(0, 0, 0, 0.6);
}

.logo {
  color: #fff;
  font-size: 33px;
  font-weight: bold;

  img {
    width: 57px;
  }

  span {
    font-weight: normal;
    color: #02d871;
  }
}

.menu {
  float: right;

  ul {
    margin-top: 17px;

    li {
      display: inline-block;
      color: #fff;
    }

    a {
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      padding: 7px 9px;

      &:hover {
        background-color: #02d871;
        padding: 7px 9px;
        border-radius: 3px;
      }
    }
  }
}