.contacts-form {
	background-color: #f6f6f6;
	padding: 45px 30px; 
	text-align: center;
	li {
		list-style-type: none;
		margin-bottom: 20px;
		input {
			width: 100%;
			padding: 6px;
			border: 1px solid #087d45;
			border-radius: 4px;
		}
	}
}
.contacts-info {
	background-color: #f6f6f6;
}