.contacts-form {
	background-color: #f6f6f6;
	padding: 45px 30px; 
	text-align: center;
	li {
		list-style-type: none;
		margin-bottom: 20px;
		input {
			width: 100%;
			padding: 6px;
			border: 1px solid #17a2b8;
			border-radius: 4px;
		}
		textarea {
			width: 100%;
			border: 1px solid #17a2b8;
			border-radius: 4px;
			min-height: 100px;
		}
	}
}
.contacts-info {
	background-color: #f6f6f6;
	padding: 35px 30px; 
	p {
		text-indent: 2rem;
	}
}