<div class="trigger">
<h1>Актуальные вакансии - <%= @category.title %></h1>
	<hr>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="categories">
				<ul>
					<li>Вакансии по странам:</li>
					<% @categories.each do |category| %>
					<%= link_to (category) do %>
					<li>
						<%= category.title %>
					</li>
					<% end %>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="col-lg-9">

			<% @vacancies.each do |vacancy| %>
			<%= vacancy.title %>
			<% end %>

		</div>
	</div>
</div>