<div class="trigger">
	<h1>Актуальные вакансии - <%= @category.title %></h1>
	<hr>
</div>
<div class="container">
	<div class="row">
		<%= render 'components/sidebar' %>
		<div class="col-lg-9">
			<div class="row">
				<% @vacancies.each do |vacancy| %>
				<div class="col-lg-4">
					<div class="vacancy">
						<%= link_to (image_tag "01.jpg"), vacancy %>
						<p>
							<%= link_to vacancy.title, vacancy %>
						</p>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>